[Unit]
Description=nextpress-backend (%i)
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/nextpress-backend-%i
Environment=APP_ENV=%i
EnvironmentFile=/var/www/nextpress-backend-%i/.env
ExecStart=/var/www/nextpress-backend-%i/bin/server
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target

